{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/blog_post.css' %}">
{% endblock %}
{% block extra_title %}{{post.post_title}} | {% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mb-3">
                <a href="{% url 'home:blog' %}" class="btn btn-light rounded-circle d-inline-flex align-items-center justify-content-center shadow-sm" style="width: 2.5rem; height: 2.5rem;" title="All posts">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-12 col-lg-8">
                <h1 class="mb-2">{{post.post_title}}</h1>
                <p class="mb-3 text-body-secondary small">
                    {{post.date_published|date:"F d, Y"}}
                    {% if post.updated and post.updated > post.date_published %}&middot; Last updated {{post.updated|date:"M d, Y"}}{% endif %}
                </p>
                <div class="blog-post-body border-top pt-3">
                    {{post.post_body|safe}}
                </div>
                {% if post.tags.all %}
                <div class="post-tags mt-4">
                    {% for tag in post.tags.all %}
                    <a href="{% url 'home:blog' %}?tag={{tag.slug}}" class="badge text-bg-secondary me-1">
                        <i class="{{tag.fa_css}}"></i> {{tag.name}}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}