{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/projects.css' %}">
{% endblock %}
{% block extra_title %}Projects | {% endblock %}

{% block content %}
    {# Old code #}
    {% comment %}
    {% if projects %}
        {% for project in projects %}
            <article>
                <h2>{{ project.project_title }}</h2>
                <p>{{ project.project_body }}</p>
                <p><a href="{{ project.project_url }}">Link</a></p>
            </article>

        {% endfor %}
    {% else %}
    <p>No projects to show.</p>
    {% endif %}
    {% endcomment %}

    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-5" style="min-height: 13.75rem;">
                    {% if project.image_url %}
                    <img src="{{project.image_url}}" class="card-img-top">
                    {% else %}
                    <div class="card-img-top">
                        <i class="fa-solid fa-image"></i>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.project_title }}</h5>
                        {% if project.project_role %}
                        <h6 class="card-subtitle text-body-secondary">{{ project.project_role }}</h6>
                        {% endif %}
                        <p class="card-text {% if project.project_repository_url or project.project_demo_url or project.project_board_url or project.project_download_url %}mb-3{% endif %}">
                            {{ project.project_body }}
                        </p>
                        {% if project.project_repository_url %}
                        <a href="{{ project.project_repository_url }}" class="badge text-bg-secondary me-1" title="Code repository" target="_blank">
                            <i class="fa-solid fa-code-branch"></i> Repository
                        </a>
                        {% endif %}
                        {% if project.project_demo_url %}
                        <a href="{{ project.project_demo_url }}" class="badge text-bg-secondary me-1" title="Live demo" target="_blank">
                            <i class="fa-solid fa-up-right-from-square"></i> Demo
                        </a>
                        {% endif %}
                        {% if project.project_board_url %}
                        <a href="{{ project.project_board_url }}" class="badge text-bg-secondary me-1" title="Issue board" target="_blank">
                            <i class="fa-solid fa-up-right-from-square"></i> Board
                        </a>
                        {% endif %}
                        {% if project.project_download_url %}
                        <a href="{{ project.project_download_url }}" class="badge text-bg-secondary" title="Download" target="_blank">
                            <i class="fa-solid fa-download"></i> Download
                        </a>
                        {% endif %}
                    </div>
                    {% if project.date %}
                    <div class="card-footer">
                        <small>{{project.date|date:"F Y"}}</small>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}