{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/projects.css' %}">
{% endblock %}
{% block extra_title %}Projects | {% endblock %}

{% block content %}
    <div class="container container-slick">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mb-3 mb-md-4">Projects</h1>
            </div>
        </div>
        <div class="row" id="project-list">
            {% include 'home/partials/project_list.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('htmx:afterSettle', function(evt) {
        window.scrollTo({top: 0, behavior: 'smooth'});
    });
</script>
{% endblock %}