{% extends 'base.html' %}

{% block content %}
    {% if skills %}
        <h2>Technical</h2>
        {% for skill in technical_skills %}
            <article>
                <h3>{{ skill.skill_title }}</h3>
                <p>{{ skill.skill_body }}</p>
            </article>

        {% endfor %}
        <h2>Communication</h2>
        {% for skill in communication_skills %}
            <article>
                <h3>{{ skill.skill_title }}</h3>
                <p>{{ skill.skill_body }}</p>
            </article>
        {% endfor %}
        <h2>Miscellaneous</h2>
        {% for skill in miscellaneous_skills %}
            <article>
                <h3>{{ skill.skill_title }}</h3>
                <p>{{ skill.skill_body }}</p>
            </article>
        {% endfor %}
    {% else %}
    <p>No skills to show.</p>
    {% endif %}
{% endblock %}