[submodule "portfolio/hungerrater"]
	path = portfolio/hungerrater
	url = https://github.com/imbryan/hunger-rater.git
[submodule "portfolio/mcfatter-cafe"]
	path = portfolio/mcfatter-cafe
	url = https://github.com/mthsprogramming/mcfatter-cafe.git
