{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{block.super}}
{% endblock %}
{% block extra_title %}{{post.post_title}} | {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-2">
                <a href="{% url 'home:blog' %}" class="">Return to all posts</a>
            </div>
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{post.post_title}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{post.date_published|date}}</h6>
                        <p class="card-text">
                            {{post.post_body}}
                        </p>
                    </div>
                    <div class="card-footer">
                        {% if post.updated %}
                        <small class="text-body-secondary">Edited on {{post.updated|date}}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}