{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" id="education">
                <h1 class="mb-3">
                    <a class="heading-anchor" href="#education">#</a>
                    <span>Education</span>
                </h1>
            </div>
            {% for education in educations %}
            {% include "home/snippets/credential_card.html" with credential=education %}
            {% endfor %}
            <div class="col-12 mt-4" id="certifications">
                <h1 class="mb-3">
                    <a class="heading-anchor" href="#certifications">#</a>
                    <span>Certifications</span>
                </h1>
            </div>
            {% for cert in certs %}
            {% include "home/snippets/credential_card.html" with credential=cert %}
            {% endfor %}
        </div>
    </div>

{% endblock %}