{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for achievement in achievements %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-4" style="min-height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{achievement.achievement_name}}</h5>
                        {% if achievement.achievement_issuer %}
                        <h6 class="card-subtitle mb-2 text-muted">{{achievement.achievement_issuer}}</h6>
                        {% endif %}
                        {% if achievement.achievement_body %}
                        <p class="card-text">
                            {{achievement.achievement_body}}
                        </p>
                        {% endif %}
                        {% if achievement.achievement_url %}
                        <a href="{{achievement.archievement_url}}" class="card-link">Link</a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{achievement.achievement_date|date:"F Y"}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}