{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/projects.css' %}">
{% endblock %}
{% block extra_title %}Projects | {% endblock %}

{% block content %}
    {# Old code #}
    {% comment %}
    {% if projects %}
        {% for project in projects %}
            <article>
                <h2>{{ project.project_title }}</h2>
                <p>{{ project.project_body }}</p>
                <p><a href="{{ project.project_url }}">Link</a></p>
            </article>

        {% endfor %}
    {% else %}
    <p>No projects to show.</p>
    {% endif %}
    {% endcomment %}

    <div class="container mt-5">
        <div class="row">
            {% for project in projects %}
            <div class="col-12 col-lg-6">
                <div class="card mb-4" style="min-height: 13.75rem;">
                    <img src="" class="card-img-top">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ project.project_title }}</h5>
                        {% if project.project_role %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ project.project_role }}</h6>
                        {% endif %}
                        <p class="card-text">
                            {{ project.project_body }}
                        </p>
                        <div class="mt-auto">
                            {% if project.project_repository_url %}
                            <a href="{{ project.project_repository_url }}" class="btn btn-primary card-link" title="Code repository" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                                Repository
                            </a>
                            {% endif %}
                            {% if project.project_demo_url %}
                            <a href="{{ project.project_demo_url }}" class="btn btn-primary card-link" title="Live demo" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                                Demo
                            </a>
                            {% endif %}
                            {% if project.project_board_url %}
                            <a href="{{ project.project_board_url }}" class="btn btn-primary card-link" title="Issue board" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i>
                                Board
                            </a>
                            {% endif %}
                            {% if project.project_download_url %}
                            <a href="{{ project.project_download_url }}" class="btn btn-primary card-link" title="Download" target="_blank">
                                <i class="fa-solid fa-download"></i>
                                Download
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if project.date %}
                        <small class="text-muted">{{project.date|date:"F Y"}}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}