html {
}

/* Header styling */

header h1 {
}

header {
}

nav {
}

nav a {
}

.nav-icon {
    text-decoration: none;
}

nav a:hover {
}

/* General body styling */

.main {
}

.main a.card-link {
    color: #0066ff;
}

/*
#footer {
    height: 50px;
}
*/