$primary: #0066ff;
$secondary: #e6f0ff;

$light: #f5f5f5;
$dark: #2b2b2b;

$gray-600: #555555;

$body-bg: $light;
$body-color: $dark;
$body-secondary-color: $gray-600;

$link-color: $primary;
$link-hover-color: darken($primary, 10%);

@import "~bootstrap/scss/bootstrap";

#top-nav {
    .navbar-brand {
        color: $primary;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.05em;
    }

    .nav-link {
        color: $dark;
        font-weight: 500;

        &:hover, &:focus {
            color: $primary;
        }

        &.active {
            color: $primary;
            font-weight: 600;
            border-bottom: 2px solid $primary;
        }
    }
}

#main {
    padding-top: 3rem;
    
    .card {
        border-radius: 0;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        margin-bottom: 1.5rem;
        background-color: $light;

        &:has(.stretched-link):hover {
            background-color: darken($light, 2%);
        }

        a {
            text-decoration: none;
        }

        .card-img-top {
            background-color: lighten($body-secondary-color, 55%);
            border-radius: 0;
            height: 200px;
            width: 100%;
            object-fit: cover;

            &:not(img) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .fa-image {
                font-size: 3rem;
                color: lighten($body-secondary-color, 25%);
            }
        }

        .card-body {
            .card-title {
                font-weight: 600;
            }
            .card-subtitle {
                margin-bottom: 0.75rem;
                color: $body-secondary-color;
            }
        }

        .card-footer {
            background-color: darken($light, 3%);
            border-top: 1px solid darken($light, 8%);
            color: $body-secondary-color;
        }
    }

    .heading-anchor {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#bottom-footer {

    a {
        color: $dark;
        text-decoration: none;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
}