$primary: #0066ff;
$secondary: #e6f0ff;

$light: #f5f5f5;
$dark: #2b2b2b;

$gray-600: #555555;

$body-bg: $light;
$body-color: $dark;
$body-secondary-color: $gray-600;

$link-color: $primary;
$link-hover-color: darken($primary, 10%);

$white-accent: #ffffff;

@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~@fortawesome/fontawesome-free/css/regular.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";

$md-breakpoint: map-get($grid-breakpoints, "md");

.container-slick {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#top-nav {
    background-color: $body-bg;


    .navbar-brand-container {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;

        @media (min-width: $md-breakpoint) {
            width: auto;
        }
    }

    .navbar-brand {
        color: $primary;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.05em;

        margin-left: auto;
        margin-right: auto;

        @media (min-width: $md-breakpoint) {
            margin-left: 0;
            margin-right: var(--bs-navbar-brand-margin-end);
        }
    }

    .nav-link {
        color: $dark;
        font-weight: 500;

        &:hover {
            color: $primary;
        }

        &.active {
            color: $primary;
            font-weight: 600;
            border-bottom: 2px solid $primary;
        }
    }

    .navbar-toggler {
        border: none;
        position: absolute;
        right: 0;

        &:focus {
            border: none;
            box-shadow: none;
        }

        &:hover {
            background-color: darken($body-bg, 5%);
        }
    }
}

#main {
    padding-top: 1.5rem;
    flex: 1;
    margin-bottom: 4rem;

    @media (min-width: $md-breakpoint) {
        padding-top: 3rem;
    }
    
    .heading-anchor {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    
    .badge {
        &:hover {
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
            transform: translateY(-1px);
        }
    }

    .return-btn {
        &:hover {
            transform: translateY(-1px);
        }
    }

    .card-row {
        --bs-gutter-x: 2rem;
    }

    .card {
        border-radius: 0.5rem;
        border: 1px solid rgba(0,0,0,0.15);
        // box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        margin-bottom: 2rem;
        background-color: $white-accent;
        overflow: hidden;

        &:has(.stretched-link):hover {
            background-color: darken($white-accent, 2%);
        }

        a {
            text-decoration: none;
        }

        .card-img-top {
            background-color: lighten($body-secondary-color, 55%);
            border-radius: 0;
            height: 200px;
            width: 100%;
            object-fit: cover;

            &:not(img) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .fa-image {
                font-size: 3rem;
                color: lighten($body-secondary-color, 25%);
            }
        }

        .card-img-side {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .card-body {
            .card-title {
                font-weight: 600;
                margin-bottom: 0.75rem;
            }
            .card-subtitle {
                margin-bottom: 0.75rem;
                color: $body-secondary-color;
            }
            .card-text {
                line-height: 2;
            }
        }

        .card-footer {
            background-color: darken($white-accent, 5%);
            // background-color: $white-accent;
            // border-top: 1px solid darken($white-accent, 9%);
            border: none;
            color: $body-secondary-color;
        }
    }

    .credential-card {
        .card-body {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .date {
            color: $body-secondary-color;
            margin-bottom: 0.5rem;
        }
    }

    .project-card {

    }

    .blog-post-card {
        // min-height: 19.25rem;

        .card-title {
            /* letter-spacing: 0.025em; */
            margin-bottom: 0.75rem;
            color: $body-color;
        }
        
        .card-subtitle {
            letter-spacing: 0.075em;
        }

        .date {
            color: $body-secondary-color;
            margin-bottom: 0.5rem;
        }

    }

    .blog-post-li {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;

        h5 {
            margin-bottom: 0.75rem;
        }

        .blog-post-title {
            color: $body-color;
        }

        .badge {
            text-decoration: none;
        }
    }

    .blog-post-content {
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $md-breakpoint) {
            max-width: 85%;
        }
    }
}

#bottom-footer {

    #footer-links {
        p {
            margin-bottom: 0.5rem;
        }

        a {
            color: $dark;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }

        .footer-link-group {
            font-weight: 500;
        }
    }
}

.btn-white-accent {
    --bs-btn-bg: #{$white-accent};
    --bs-btn-border-color: #{$white-accent};

    --bs-btn-disabled-bg: #{$white-accent};
    --bs-btn-disabled-border-color: #{$white-accent};

    --bs-btn-hover-bg: #{darken($white-accent, 10%)};
    --bs-btn-hover-border-color: #{darken($white-accent, 10%)};

    --bs-btn-active-bg: #{darken($white-accent, 15%)};
    --bs-btn-active-border-color: #{darken($white-accent, 15%)};
}