{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
{% endblock %}
{% block extra_title %}Login | {% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Log in</h5>
                        <form method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger mb-3" role="alert">
                                {% for error in form.non_field_errors %}
                                {{error}}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="username-input" class="form-label">Username</label>
                                <input id="username-input" name="username" class="form-control" value="{{form.username.value|default_if_none:''}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="password-input" class="form-label">Password</label>
                                <input id="password-input" name="password" class="form-control" type="password" required>
                            </div>
                            {% if TURNSTILE_SITE_KEY %}
                            <div class="mb-2">
                                <div class="cf-turnstile" data-sitekey="{{TURNSTILE_SITE_KEY}}" data-size="flexible"></div>
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary w-100">Log in</button>
                            </div>
                            {% if OIDC_CONFIGURED %}
                            <div>
                                <a href="{% url 'oidc_authentication_init' %}" class="btn btn-secondary w-100">Log in with {{OIDC_OP_DISPLAY_NAME}}</a>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}