{% extends 'base.html' %}
{% load static %}
{% block extra_metas %}
{% comment %}https://htmx.org/quirks/#by-default-4xx-5xx-responses-do-not-swap{% endcomment %}
<meta name="htmx-config" content='{"responseHandling": [{"code":"401", "swap": true}]}'>
{% endblock %}
{% block extra_styles %}
<style>
    .login-loading {
        display: none;
    }
    form.htmx-request .login-loading {
        display: inline-flex;
    }
    form.htmx-request .login-default {
        display: none;
    }
    #oidc-login-btn[disabled] {
        pointer-events: none;
        opacity: 0.65;
        cursor: default;
    }
</style>
{% endblock %}
{% block extra_title %}Login | {% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Log in</h5>
                        <div id="login-form-container">
                            {% include 'users/partials/login_form.html' with form=form %}
                        </div>
                        {% if OIDC_CONFIGURED %}
                        <div>
                            <a href="{% url 'oidc_authentication_init' %}" class="btn btn-secondary w-100" role="button" id="oidc-login-btn">Log in with {{OIDC_OP_DISPLAY_NAME}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
    const loginButtons = document.querySelectorAll('#login-btn, #oidc-login-btn');

    function disableButtons(buttons) {
        buttons.forEach(button => {
            button.disabled = true;
            button.classList.add('disabled');
        });
    }

    function renderTurnstileWidget() {
        const turnstileElements = document.querySelectorAll('.cf-turnstile');
        turnstileElements.forEach((element) => {
            const sitekey = element.dataset.sitekey;
            const size = element.dataset.size;

            window.turnstile.render(element, {
                sitekey: sitekey,
                size: size
            });
        });
    }

    document.querySelector('#oidc-login-btn').addEventListener('click', function() {
        disableButtons(loginButtons);
    });

    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            loginButtons.forEach(button => {
                button.disabled = false;
                button.classList.remove('disabled');
            });
        }
    });

    document.addEventListener('htmx:afterSwap', function(evt) {
        renderTurnstileWidget();
    });
</script>
{% endblock %}