<div class="card blog-post-card flex-fill">
    <div class="card-body d-flex flex-column px-4">
        <small class="date">{{ post.date_published|date:"M d, Y" }}</small>
        <h5 class="">
            <a href="{{ post.url }}" class="heading-anchor card-title">{{post.post_title}}</a>
        </h5>
        {% if post.pinned and show_pin %}
        <div class="position-absolute top-0 end-0 mt-3 me-4">
            <i class="fa-solid fa-thumbtack fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>
        </div>
        {% endif %}
        <p class="card-text">
            {% if post.preview_text %}
            {{ post.preview_text|truncatewords:50 }}
            {% else %}
            {{ post.post_body|truncatewords:50 }}
            {% endif %}
        </p>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center flex-wrap gap-2">
                {% for tag in post.sorted_tags %}
                <a class="badge text-bg-secondary"
                hx-get="?tag={{ tag.slug }}"
                hx-target="{{ hx_target }}"
                hx-push-url="true"
                href="?tag={{ tag.slug }}"
                ><i class="{{tag.fa_css}}"></i> {{tag.name}}
            </a>
            {% endfor %}
            </div>
            <a href="{{ post.url }}" class="btn btn-primary btn-sm card-link ms-auto mt-auto mb-1" title="Read more">
                <span>Read more</span>
            </a>
        </div>
    </div>
</div>