<div class="card project-card">
    <div class="row g-0">
        <div class="col d-flex flex-column">
            {% if project.image_url %}
            <img src="{{project.image_url}}" class="card-img-top d-inline d-md-none">
            {% endif %}
            <div class="card-body position-relative d-flex flex-column p-4">
                <h5 class="card-title">{{ project.project_title }}</h5>
                {% if project.pinned %}
                <div class="position-absolute top-0 end-0 mt-3 me-3">
                    <i class="fa-solid fa-thumbtack fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>
                </div>
                {% endif %}
                {% if project.project_role %}
                <h6 class="card-subtitle text-body-secondary">{{ project.project_role }}</h6>
                {% endif %}
                <p class="card-text {% if project.project_repository_url or project.project_demo_url or project.project_board_url or project.project_download_url %}mb-3{% endif %}">
                    {{ project.project_body }}
                </p>
                <div class="d-flex flex-wrap gap-2 mt-auto">
                    {% for tag in project.sorted_tags %}
                    <a 
                        hx-get="?tag={{tag.slug}}"
                        hx-target="{{ hx_target }}"
                        hx-push-url="true"
                        hx-on::after-request="window.scrollTo({top: 0, behavior: 'smooth'})"
                        href="?tag={{tag.slug}}" 
                        class="badge text-bg-secondary"
                        ><i class="{{tag.fa_css}}"></i> {{tag.name}}
                    </a>
                    {% endfor %}
                    {% if project.project_repository_url %}
                    <a href="{{ project.project_repository_url }}" class="badge text-bg-primary" title="Code repository" target="_blank">
                        <i class="fa-solid fa-code-branch"></i> Repository
                    </a>
                    {% endif %}
                    {% if project.project_demo_url %}
                    <a href="{{ project.project_demo_url }}" class="badge text-bg-primary" title="Live demo" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i> Demo
                    </a>
                    {% endif %}
                    {% if project.project_board_url %}
                    <a href="{{ project.project_board_url }}" class="badge text-bg-primary" title="Issue board" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i> Board
                    </a>
                    {% endif %}
                    {% if project.project_download_url %}
                    <a href="{{ project.project_download_url }}" class="badge text-bg-primary" title="Download" target="_blank">
                        <i class="fa-solid fa-download"></i> Download
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if project.image_url %}
        <div class="col-4 d-none d-md-block">
            <img src="{{project.image_url}}" class="img-fluid rounded-end card-img-side">
        </div>
        {% endif %}
    </div>
</div>