<div class="card credential-card mb-4 flex-fill">
    <div class="card-body">
        <h5 class="card-title">{{credential.name}}</h5>
        <h6 class="card-subtitle">{{credential.issuer}}</h6>
        {% if credential.description %}
        <p class="card-text {% if credential.credential_id or credential.url %}mb-2{% endif %}">
            {{credential.description}}
        </p>
        {% endif %}
        {% if credential.credential_id %}
        <span class="badge text-bg-secondary me-1">ID: {{credential.credential_id}}</span>
        {% endif %}
        {% if credential.url %}
        <a href="{{credential.url}}" class="badge text-bg-secondary" target="_blank">
            <i class="fa-solid fa-up-right-from-square"></i> Link
        </a>
        {% endif %}
    </div>
    <div class="card-footer">
        <small>{{credential.date_issued|date:"F Y"}}</small>
    </div>
</div>