<div class="card credential-card mb-4 flex-fill">
    <div class="card-body">
        <h5 class="card-title">{{credential.issuer}}</h5>
        <h6 class="card-subtitle">{{credential.name}}</h6>
        {% if credential.description %}
        <p class="card-text {% if credential.credential_id or credential.url %}mb-2{% endif %}">
            {{credential.description}}
        </p>
        {% endif %}
        <div class="d-flex flex-wrap gap-2">
            {% if credential.credential_id %}
            <span class="badge text-bg-secondary">ID: {{credential.credential_id}}</span>
            {% endif %}
            {% if credential.url %}
            <a href="{{credential.url}}" class="badge text-bg-secondary" target="_blank">
                <i class="fa-solid fa-up-right-from-square"></i> Link
            </a>
            {% endif %}
            {% for tag in credential.sorted_tags %}
            <a class="badge text-bg-secondary">
                <i class="{{tag.fa_css}}"></i> {{tag.name}}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="card-footer">
        <small>{{credential.date_issued|date:"F Y"}}</small>
    </div>
</div>