<!DOCTYPE html>
<html>
    <head id="top">
        {% load static %}
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if ADSENSE_CLIENT %}
        <meta name="google-adsense-account" content="{{ ADSENSE_CLIENT }}">
        {% endif %}
        <!-- STYLE -->
        {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <!-- mini css -->
        <link rel="stylesheet" type="text/css" href="{% static 'js/bundles/styles.css' %}">
        {% endblock %}
        <!-- SCRIPT -->
        {% block head_script %}
        <script src="https://kit.fontawesome.com/973df2756d.js" crossorigin="anonymous" async></script> <!-- FontAwesome -->
        {% if ADSENSE_CLIENT %}
        {% comment %}<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ ADSENSE_CLIENT }}" 
        crossorigin="anonymous"></script> <!-- AdSense -->{% endcomment %}
        {% endif %}
        {% endblock %}
        <!-- TITLE -->
        <title>{% block extra_title %}{% endblock %}Bryan Grigorie</title>
    </head>
    
    <body>
        <!-- BASE DIV -->
        <div id="base" class="d-flex flex-column min-vh-100">
            <!-- TOP NAVBAR -->
            <nav class="navbar navbar-expand-lg bg-light sticky-top shadow-sm py-3" data-bs-theme="light" id="top-nav">
                <div class="container">
                    {% url 'home:index' as home_index_url %}
                    {% url 'home:projects' as projects_url %}
                    {% url 'home:blog' as blog_url %}
                    <a class="navbar-brand" href="{{ home_index_url }}">Bryan Grigorie</a>

                    <!-- TODO -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == home_index_url %}active{% endif %}" href="{{ home_index_url }}">
                                    <span class="">
                                        <i class="fa-solid fa-house"></i>
                                        Home
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if projects_url in request.path %}active{% endif %}" href="{{ projects_url }}" id="projects-page-button">
                                    <span class="">
                                        Projects
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if blog_url in request.path %}active{% endif %}" href="{{ blog_url }}">
                                    <span class="">
                                        Blog
                                    </span>
                                </a>
                            </li>
                            {% if request.user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                                    <span class="">
                                        <i class="fa-solid fa-screwdriver-wrench"></i>
                                        Admin
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/imbryan" title="GitHub" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://linkedin.com/in/bryangrigorie" title="LinkedIn" target="_blank">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- MAIN CONTENT -->
            <div id="main" class="flex-grow-1">
                {% block content %}
                {% endblock %}
            </div>
            
            <!-- FOOTER -->
            <footer class="footer py-3 bg-light" data-bs-theme="light" id="bottom-footer">
                <div class="container text-center mb-2">
                    <div class="d-flex justify-content-center gap-4 mb-2">
                        <a href="mailto:bryangrigorie@gmail.com">Contact</a>
                        <a href="https://drive.google.com/file/d/1ZIjcN_pS4R0u772bXl5Yq_89kb0lm01w/" target="_blank">Résumé</a>
                        <a href="https://github.com/imbryan" target="_blank">GitHub</a>
                        <a href="https://linkedin.com/in/bryangrigorie" target="_blank">LinkedIn</a>
                        <a href="https://ko-fi.com/imbryan" target="_blank">Ko-Fi</a>
                    </div>
                    <small class="text-body-secondary">&copy; {% now "Y" %} Bryan Grigorie</small>
                </div>
            </footer>
        </div>
        <!-- END BASE DIV -->
            
        <!-- SCRIPT -->
        {% block body_script %}
        <!-- Webpack -->
        <script src="{% static 'js/bundles/index-bundle.js' %}"></script>
        {% endblock %}
    </body>
</html>