<!DOCTYPE html>
<html>
    <head id="top">
        {% load static %}
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if ADSENSE_CLIENT %}
        <meta name="google-adsense-account" content="{{ ADSENSE_CLIENT }}">
        {% endif %}
        <!-- favicons -->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/16x16.png' %}">
        <!-- STYLE -->
        {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <!-- mini css -->
        <link rel="stylesheet" type="text/css" href="{% static 'js/bundles/styles.css' %}">
        {% endblock %}
        <!-- SCRIPT -->
        {% block head_script %}
        {% if ADSENSE_CLIENT %}
        {% comment %}<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ ADSENSE_CLIENT }}" 
        crossorigin="anonymous"></script> <!-- AdSense -->{% endcomment %}
        {% endif %}
        {% if TURNSTILE_SITE_KEY %}
        <script async src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
        {% endif %}
        {% endblock %}
        <!-- TITLE -->
        <title>{% block extra_title %}{% endblock %}{{ config.BRAND }}</title>
    </head>
    
    <body>
        <!-- BASE DIV -->
        <div id="base" class="d-flex flex-column min-vh-100">
            <!-- TOP NAVBAR -->
            <nav class="navbar navbar-expand-lg sticky-top shadow-sm py-3" data-bs-theme="light" id="top-nav">
                <div class="container">
                    {% url 'home:index' as home_index_url %}
                    {% url 'home:projects' as projects_url %}
                    {% url 'home:blog' as blog_url %}
                    <a class="navbar-brand" href="{{ home_index_url }}">{{ config.BRAND }}</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-navbar-nav">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="top-navbar-nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == home_index_url %}active{% endif %}" href="{{ home_index_url }}">
                                    <span class="">
                                        <i class="fa-solid fa-house"></i>
                                        Home
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if projects_url in request.path %}active{% endif %}" href="{{ projects_url }}" id="projects-page-button">
                                    <span class="">
                                        Projects
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if blog_url in request.path %}active{% endif %}" href="{{ blog_url }}">
                                    <span class="">
                                        Blog
                                    </span>
                                </a>
                            </li>
                            {% if request.user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                                    <span class="">
                                        <i class="fa-solid fa-screwdriver-wrench"></i>
                                        Admin
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <span class="">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                        Logout
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            {% if config.GITHUB_URL %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.GITHUB_URL }}" title="GitHub" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if config.LINKEDIN_URL %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.LINKEDIN_URL }}" title="LinkedIn" target="_blank">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- MAIN CONTENT -->
            <div id="main" class="flex-grow-1">
                {% block content %}
                {% endblock %}
            </div>
            
            <!-- FOOTER -->
            <footer class="footer py-3 bg-light" data-bs-theme="light" id="bottom-footer">
                <div class="container mb-2">
                    <div class="row mb-2" id="footer-links">
                        <div class="col-6 col-md-2">
                            <p class="footer-link-group text-uppercase">Connect</p>
                            {% if config.EMAIL %}
                            <p><a class="small" href="mailto:{{ config.EMAIL }}">Email</a></p>
                            {% endif %}
                            {% if config.LINKEDIN_URL %}
                            <p><a class="small" href="{{ config.LINKEDIN_URL }}" target="_blank">LinkedIn</a></p>
                            {% endif %}
                        </div>
                        <div class="col-6 col-md-2">
                            <p class="footer-link-group text-uppercase">Portfolio</p>
                            {% if config.RESUME_URL %}
                            <p><a class="small" href="{{ config.RESUME_URL }}" target="_blank">Résumé</a></p>
                            {% endif %}
                            {% if config.GITHUB_URL %}
                            <p><a class="small" href="{{ config.GITHUB_URL }}" target="_blank">GitHub</a></p>
                            {% endif %}
                            <p><a class="small" href="{{ projects_url }}">Projects</a></p>
                        </div>
                        <div class="col-6 col-md-2">
                            <p class="footer-link-group text-uppercase">Contribute</p>
                            {% if config.KO_FI_URL %}
                            <p><a class="small" href="{{ config.KO_FI_URL }}" target="_blank">Ko-fi</a></p>
                            {% endif %}
                            {% if config.PAYPAL_URL %}
                            <p><a class="small" href="{{ config.PAYPAL_URL }}" target="_blank">PayPal</a></p>
                            {% endif %}
                        </div>
                        <div class="col text-center">
                            <small class="text-body-secondary">&copy; {% now "Y" %} {{ config.BRAND }}</small>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- END BASE DIV -->
            
        <!-- SCRIPT -->
        {% block body_script %}
        <!-- Webpack -->
        <script src="{% static 'js/bundles/index-bundle.js' %}"></script>
        {% block extra_scripts %}{% endblock %}
        {% endblock %}
    </body>
</html>